{{ define "content"  }}
<article>
  <header>
    <h1>{{ .Name }}</h1>
  </header>

  {{ template "find-sidenav" . }}

  <main>
    {{ .Content }}

    {{ if ne .Params.hideIndex true }}
      <h1>{{ default "Index" .Params.indexTitle }}</h1>

      <ul>
        {{ range (union .Pages .Sections).ByWeight }}
          {{ if not (strings.HasSuffix .Permalink "/documentation/latest/") }}
          <li>
            <a href="{{ .Permalink }}">{{ .Name }}</a>
          </li>
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  </main>
</article>
{{ end }}

{{ define "find-sidenav" }}
  {{ if .Params.sideNav }}
    <nav>
      {{ .Title }}
      <hr />
      {{ template "side-nav" . }}
    </nav>
  {{ else }}
    {{ if .Parent }}
      {{ template "find-sidenav" .Parent }}
    {{ end }}
  {{ end }}
{{ end }}

{{ define "side-nav" }}
<ul>
{{ range (union .Pages .Sections).ByWeight }}
  <li>
    <a href="{{ .Permalink }}">{{ .Name }}</a>
    {{ if or (ne (len .Pages) 0) (ne (len .Sections) 0) }}
      {{ template "side-nav" . }}
    {{ end }}
  </li>
{{ end }}
</ul>
{{ end }}
