  <section id="about">
    <h1>About Kiali</h1>

    <p>
    Kiali is an observability console for Istio with service mesh configuration
    capabilities. It helps you to understand the structure of your service mesh
    by inferring the topology, and also provides the health of your mesh. Kiali
    provides detailed metrics, and a basic Grafana integration is available for
    advanced queries. Distributed tracing is provided by integrating Jaeger.
    </p>

    <p class="buttons">
    <a class="button secondary" href="https://www.youtube.com/channel/UCcm2NzDN_UCZKk2yYmOpc5w">
      Check out our demo videos
    </a>
    </p>

    <div id="intro-video">
      <iframe
        width="560" height="315"
        src="https://www.youtube.com/embed/mbS0UReSWyY"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  </section>

