  <section id="about">
    <h3>About Kiali</h3>

    <p id="about-description">
    Kiali is a management console for Istio service mesh. It provides robust
    observability for your running mesh, letting you quickly identify issues and
    then troubleshoot those issues.  Kiali offers in-depth traffic topology, health
    grades, powerful dashboards, and lets you drill into component detail.
    Kiali offers correlated views of metrics, logs and tracing, as well as strong
    validations to pinpoint configuration issues.  Kiali provides several
    wizards to help you add services to the mesh, define traffic routing, gateways, policies
    and more.  Kiali includes Grafana and Jaeger integrations.
    </p>
  </section>

