  <section id="features">
    <h1>Features</h1>

    <div id="features-blocks">
      <a href="{{ "documentation/features/#_graph" | relURL }}">
        <div>
          <h2><img src="img/topology.svg" alt="" />Topology</h2>
          <p>See your services<br />communicate</p>
        </div>
      </a>

      <a href="{{ "documentation/features/#_graph_health" | relURL }}">
        <div>
          <h2><img src="img/health.svg" alt="" />Health</h2>
          <p>Quickly identify<br />issues</p>
        </div>
      </a>

      <a href="{{ "documentation/features/#_detail_metrics" | relURL }}">
        <div>
          <h2><img src="img/metrics.svg" alt="" />Metrics</h2>
          <p>Chart Istio and App<br />performance</p>
        </div>
      </a>

      <a href="{{ "documentation/features/#_distributed_tracing" | relURL }}">
        <div>
          <h2><img src="img/tracing.svg" alt="" />Tracing</h2>
          <p>Follow requests with<br />Jaeger Distributed Tracing</p>
        </div>
      </a>

      <a href="{{ "documentation/features/#_validations" | relURL }}">
        <div>
          <h2><img src="img/validations.svg" alt="" />Validations</h2>
          <p>Detect advanced<br />misconfigurations</p>
        </div>
      </a>

      <a href="{{ "documentation/features/#_istio_wizards" | relURL }}">
        <div>
          <h2><img src="img/wizards.svg" alt="" />Wizards</h2>
          <p>Easily configure Istio<br />routing</p>
        </div>
      </a>

      <a href="{{ "documentation/features/#_configuration_and_validation_features" | relURL }}">
        <div>
          <h2><img src="img/configuration.svg" alt="" />Configuration</h2>
          <p>See and edit Istio<br />custom resource YAML</p>
        </div>
      </a>

      <div class="more-coming">
        <p><img src="img/more.svg" alt="" /></p>
        <h2>More to come...</h2>
      </div>
    </div>
  </section>

