<section id="hero">
  <h1>Service mesh management<br />for Istio</h1>

  <p>
    <strong>Kiali answers the questions:</strong><br />
    Which microservices are part of my service mesh?<br />
    How are they connected?<br />
    How are they performing?<br />
    How can I operate on them?<br />
  </p>

  <p class="buttons">
    <a href="/documentation/latest/quick-install" class="button">
      Get started
    </a>
    <a class="button secondary" href="#blog-latest">
      See latest blog posts and videos
    </a>
  </p>

  <p id="hero-quote">
    <strong>
      <a href="https://youtu.be/9CQ0PMiOGhg?t=371" target="_blank">
        "This is the kind of tool that you really need" &mdash; David Gageot,
        Google
      </a>
    </strong>
  </p>
</section>
