  <section id="hero">
    <h1>Service mesh observability<br />and configuration</h1>

    <p>
    <strong>Kiali answers the questions:</strong><br />
    What microservices are part of my Istio service mesh?<br />
    How are they connected?<br />
    How are they performing?<br />
    </p>

    <p class="buttons">
    <a href="/documentation/getting-started" class="button">
      Get started
    </a>
    <a class="button secondary" href="#blog-latest">
      See latest blog posts
    </a>
    </p>

    <p id="hero-quote">
    <strong>
    <a href="https://youtu.be/9CQ0PMiOGhg?t=371" target="_blank">
      "This is the kind of tool that you really need" &mdash; David Gageot, Google
    </a>
    </strong>
    </p>
  </section>

