<section id="hero">
  <h1>The Console for Istio Service Mesh</h1>

  <strong><span style="font-size: 1.2em">Validate</span></strong> your configuration<br />
  <strong><span style="font-size: 1.2em">Visualize</span></strong> your traffic<br />
  <strong><span style="font-size: 1.2em">Troubleshoot</span></strong> your issues<br />
  <strong><span style="font-size: 1.2em">Manage</span></strong> your mesh!<br />

  <p class="buttons">
    <a href="/documentation/latest/quick-start" class="button">
      Get started with Kiali
    </a>
    <a href="https://www.youtube.com/embed/h1Hsw1zSens" target="_blank" class="button">
      Learn more about Kiali
    </a>
    <a class="button secondary" href="#blog-latest">
      See latest blog posts and videos
    </a>
  </p>
</section>
