<section id="video-latest">
    <h1>
        Sprint demo videos
        <span class="go-to-videos-link">
        <a href="https://www.youtube.com/channel/UCcm2NzDN_UCZKk2yYmOpc5w" target="_blank">
            Go to videos
            <span class="fas fa-external-link-alt" />
        </a>
    </span>
    </h1>

    <div class="embed-video-links">
        <iframe class="video-iframe-links" src="https://www.youtube.com/embed/wCVt8eRbtu8"></iframe>
        <iframe class="video-iframe-links" src="https://www.youtube.com/embed/i0cRua9v4CE"></iframe>
        <iframe class="video-iframe-links" src="https://www.youtube.com/embed/9qvhfOkC-RM" ></iframe>
    </div>
</section>
