<section id="video-getting-started" class="video-section">
    <h1>
       Getting started videos
        <span class="go-to-videos-link">
          <a href="https://www.youtube.com/channel/UCcm2NzDN_UCZKk2yYmOpc5w" target="_blank">
            Go to videos
            <span class="fas fa-external-link-alt"/>
          </a>
        </span>
    </h1>

    <div id="getting-started-videos" class="new-embed-video-links">
        <div class="video-card">
            <header class="video-header">
                <span class="video-text">August 26, 2020</span>
                <span class=" video-text video-icon"><span class="fas fa-video"/></span>
            </header>
            <p class="video-text video-title">Kiali Helm Chart Install (Istio 1.7)</p>
            <iframe class="video-iframe-links" src="https://www.youtube.com/embed/ht9M_GW7k6c"></iframe>
            <p class="video-text video-text-footer">Mike Thompson</p>
        </div>

        <div class="video-card">
            <header class="video-header">
                <span class="video-text">Feb 3, 2020</span>
                <span class=" video-text video-icon"><span class="fas fa-video"/></span>
            </header>
            <p class="video-text video-title">Installing Istio and Kiali (Minikube)</p>
            <iframe class="video-iframe-links" src="https://www.youtube.com/embed/0Ho1twJ9Udg"></iframe>
            <p class="video-text video-text-footer">Mike Thompson</p>
        </div>

        <div class="video-card">
            <header class="video-header">
                <span class="video-text">Feb 3, 2020</span>
                <span class=" video-text video-icon"><span class="fas fa-video"/></span>
            </header>
            <p class="video-text video-title">Installing Bookinfo</p>
            <iframe class="video-iframe-links" src="https://www.youtube.com/embed/MNyrHnzneV8"></iframe>
            <p class="video-text video-text-footer">Mike Thompson</p>
        </div>

        <div class="video-card">
            <header class="video-header">
                <span class="video-text">Feb 4, 2020</span>
                <span class=" video-text video-icon"><span class="fas fa-video"/></span>
            </header>
            <p class="video-text video-title">Config Kiali-ui Dev Env</p>
            <iframe class="video-iframe-links" src="https://www.youtube.com/embed/v4MN04nQNCU"></iframe>
            <p class="video-text video-text-footer">Mike Thompson</p>
        </div>

    </div>

</section>
