<section id="video-latest" class="video-section">
    <h1>
        Latest videos
        <span class="go-to-videos-link">
          <a href="https://www.youtube.com/channel/UCcm2NzDN_UCZKk2yYmOpc5w" target="_blank">
            Go to videos
            <span class="fas fa-external-link-alt"/>
          </a>
        </span>
    </h1>

    <div id="latest-videos" class="new-embed-video-links">
        <div class="video-card">
            <header class="video-header">
                <span class="video-text">August 26, 2020</span>
                <span class=" video-text video-icon"><span class="fas fa-video"/></span>
            </header>
            <p class="video-text video-title">Kiali Enable Istio Auto-injection</p>
            <iframe class="video-iframe-links" src="https://www.youtube.com/embed/3mvo_RcoFqc"></iframe>
            <p class="video-text video-text-footer">Mike Thompson</p>

        </div>

        <div class="video-card">
            <header class="video-header">
                <span class="video-text">August 26, 2020</span>
                <span class=" video-text video-icon"><span class="fas fa-video"/></span>
            </header>
            <p class="video-text video-title">Workloads Logs Enhancements</p>
            <iframe class="video-iframe-links" src="https://www.youtube.com/embed/Elj1r5qzre8"></iframe>
            <p class="video-text video-text-footer">Mike Thompson</p>
        </div>

        <div class="video-card">
            <header class="video-header">
                <span class="video-text">August 6, 2020</span>
                <span class=" video-text video-icon"><span class="fas fa-video"/></span>
            </header>
            <p class="video-text video-title">Kiali In-Graph Tracing</p>
            <iframe class="video-iframe-links" src="https://www.youtube.com/embed/z7cZDPV9Ge0"></iframe>
            <p class="video-text video-text-footer">Joel Takvorian</p>
        </div>

        <div class="video-card">
            <header class="video-header">
                <span class="video-text">July 29, 2020</span>
                <span class=" video-text video-icon"><span class="fas fa-video"/></span>
            </header>
            <p class="video-text video-title">Kiali working with mTLS</p>
            <iframe class="video-iframe-links" src="https://www.youtube.com/embed/OCXMU5IjOMM"></iframe>
            <p class="video-text video-text-footer">Xavier Canal i Masjuan</p>
        </div>

        <div class="video-card">
            <header class="video-header">
                <span class="video-text">July 29, 2020</span>
                <span class=" video-text video-icon"><span class="fas fa-video"/></span>
            </header>
            <p class="video-text video-title">Kiali Replay</p>
            <iframe class="video-iframe-links" src="https://www.youtube.com/embed/CC_dl4zSZiU"></iframe>
            <p class="video-text video-text-footer">John Mazzitelli</p>
        </div>
    </div>

</section>
