<section id="video-latest">
    <h1>
        Getting started videos
        <span class="go-to-videos-link">
          <a href="https://www.youtube.com/channel/UCcm2NzDN_UCZKk2yYmOpc5w" target="_blank">
            Go to videos
            <span class="fas fa-external-link-alt"/>
          </a>
        </span>
    </h1>

    <div class="embed-video-links">
        <iframe class="video-iframe-links" src="https://www.youtube.com/embed/ht9M_GW7k6c"></iframe>
        <iframe class="video-iframe-links" src="https://www.youtube.com/embed/0Ho1twJ9Udg"></iframe>
        <iframe class="video-iframe-links" src="https://www.youtube.com/embed/MNyrHnzneV8"></iframe>
        <iframe class="video-iframe-links" src="https://www.youtube.com/embed/v4MN04nQNCU"></iframe>
    </div>
</section>
