{{- $expTimestamp := div now.Unix 6000 }}
{{- $featureVids  := 5 }}
{{- $featureURL   := printf "https://api.rss2json.com/v1/api.json?timestamp=%d&rss_url=https://www.youtube.com/feeds/videos.xml?playlist_id=PLgwrCYrAkQYOip2YTIwy8jfNB9giddbBL" $expTimestamp }}
{{- $featureJson  := getJSON $featureURL }}
{{- $featureVids  := first $featureVids $featureJson.items }}
{{- $sprintVids   := 1 }}
{{- $sprintURL    := printf "https://api.rss2json.com/v1/api.json?timestamp=%d&rss_url=https://www.youtube.com/feeds/videos.xml?playlist_id=PLgwrCYrAkQYOHIeGukEZUmNRGbqI9uwpi" $expTimestamp }}
{{- $sprintJson   := getJSON $sprintURL }}
{{- $sprintVids   := first $sprintVids $sprintJson.items }}

<section id="video-getting-started" class="video-section">
    <h1>
       Latest videos
        <span class="go-to-videos-link">
          <a href="https://www.youtube.com/channel/UCcm2NzDN_UCZKk2yYmOpc5w" target="_blank">
            Kiali on YouTube
            <span class="fas fa-external-link-alt"/>
          </a>
        </span>
    </h1>

    <div id="videos" class="new-embed-video-links">
      {{ range $sprintVids }}
        {{ $link    := .link }}
        {{ $img     := .thumbnail }}
        {{ $title   := .title }}
        {{ $dateRaw := .pubDate }}
        {{ $vidId   := index (split .guid ":") 2 }}
        {{ $date    := dateFormat "January 2, 2006" $dateRaw }}

        <div class="video-card">
            <header class="video-header">
              <span class="video-text">Community Meeting: {{ $date }}</span>
                <span class=" video-text video-icon"><span class="fas fa-video"/></span>
            </header>
            <p class="video-text video-title">{{ $title }}</p>
            <iframe class="video-iframe-links" src="https://www.youtube.com/embed/{{ $vidId }}"></iframe>
        </div>
      {{ end }}

      <div class="video-card">
          <header class="video-header">
            <span class="video-text">Getting Started: August 26, 2020</span>
            <span class=" video-text video-icon"><span class="fas fa-video"/></span>
          </header>
          <p class="video-text video-title">Kiali Helm Chart Install (Istio 1.7)</p>
          <iframe class="video-iframe-links" src="https://www.youtube.com/embed/ht9M_GW7k6c"></iframe>
          <p class="video-text video-text-footer">Mike Thompson</p>
        </div>
        
      {{ range $featureVids }}
        {{ $link    := .link }}
        {{ $img     := .thumbnail }}
        {{ $title   := .title }}
        {{ $dateRaw := .pubDate }}
        {{ $vidId   := index (split .guid ":") 2 }}
        {{ $date    := dateFormat "January 2, 2006" $dateRaw }}

        <div class="video-card">
            <header class="video-header">
              <span class="video-text">Feature Dive: {{ $date }}</span>
                <span class=" video-text video-icon"><span class="fas fa-video"/></span>
            </header>
            <p class="video-text video-title">{{ $title }}</p>
            <iframe class="video-iframe-links" src="https://www.youtube.com/embed/{{ $vidId }}"></iframe>
        </div>
      {{ end }}


</section>
