@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

#header-wrap {
  background-color: #0094DE;
  background-image:url("/images/hero-background.svg")
}

#top-social i{
  color:rgb(102,102,102,102);
}

a {
  color: #0094DE;
}

.slider-element {
  height: 600px;
  overflow: visible;
  background-color: #0094DE;
  background-image:url("/images/hero-background.svg")
}

#primary-menu ul li > a {
  font-family: Comfortaa;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
}

.slider-title h1 {
  font-family: Comfortaa;
  font-size: 40px;
  font-weight: bold;
  color: #FFFFFF;
}

#slider a.button {
  font-family: Comfortaa;
  font-size: 16px;
  font-weight: bold;
  color: #0094DE;
  border-radius: 2px;
  background-color: #FFFFFF;
}

.slider-title p {
  color: #FFFFF;
  font-size: 17px;
  font-weight: Regular;
}

.features-bottom-box {
  display: block;
  padding: 40px;
  background: #fff;
  box-shadow: 0 10px 40px 0 rgba(47, 47, 47, .1);
  border-radius: 3px;
  cursor: pointer
}

#content .features-bottom-box li > a , :hover{
  font-size: 16px;
  font-weight: 500
  color: #55555;
}

.features-bottom-box h2 {
  color: #0093DD;
  font-size: 40px;
  font-weight: Regular;
}

.slider-element {
  height: 700px
}

.icon-line-arrow-right {
   color: #0094DE;
}

.button a {
   color: #0094DE;
}

#footer {
  background-color: #0093DD;
  background-image:linear-gradient(rgba(255, 255, 255, 0.52),rgba(25, 172, 225, 0.43));
}

#copyrights {
    background-color: #0093DD;
    padding: 2px;
}

#footer a {
  color: #FFFFFF;
}


.dark #header-wrap:not(.not-dark) #primary-menu>ul>li>a {
  color: #fff !important
}

.dark #header-wrap:not(.not-dark) #primary-menu>ul>li>ul>li>a {
  color: #fff !important
}

#primary-menu ul li>a {
  letter-spacing: 0
}

#content {
  overflow: visible
}

#description h2{
   font-family: Varela Round, sans-serif;
   color: #0094DE;
   font-weight: Regular;
   font-size: 28px;
   text-align: left;
   text-transform: capitalize;
}

#description p{
   text-align: left;
    font-size: 16px;
    color: #55555;
}

#description a.button{
  font-family: Comfortaa;
  font-size: 16px;
  font-weight: bold;
  color: #0094DE;
  border-color: #0094DE;
  border-radius: 3px;
  border: 1px solid;
  background-color: #FFFFFF;
}

.slider-box-wrap {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  z-index: 2
}

.heading-block p {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.7 !important
}

.slider-bottom-box {
  padding: 15px
}

.img-map {
  opacity: .2
}

.swagger table {
  width: 100%;
  border-spacing: 0;
  box-sizing: border-box;
  border: 1px solid #d1d1d1;
}

.swagger table, th, td {
  border: 1px solid #d1d1d1;
}

.swagger table>thead {
  background-clip: padding-box;
  background-image: linear-gradient(to bottom, #fafafa 0, #ededed 100%);
  background-repeat: repeat-x;
  background-color: #f5f5f5;
  box-sizing: border-box;
  border: 1px solid #d1d1d1;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.66666667;
  color: #363636;
}

.swagger table>thead>tr>th {
  padding: 2px 10px 3px;
}

.swagger table>tbody>tr>td {
  padding: 2px 10px 3px;
}

.swagger table>tbody {
  box-sizing: border-box;
  border-collapse: collapse;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  border: 1px solid #d1d1d1;
  border-bottom-width: 1px;
  font-size: 12px;
  line-height: 1.66666667;
  color: #363636;
  border-spacing: 0;
}

.swagger table>tbody>td.even {
  background-color: #f5f5f5;
}


code {
  color: #1ABC9C;
}

.sectionbody ul {
  padding-left: 15px;
}

.sectionbody ul p{
  all: unset;
}

.sectionbody table>thead>tr>th {
  background: #f7f8f7
}

.sectionbody table>tbody>tr:nth-child(even) {
  background-color: #f5f5f5;
}

.toc {
  color: #0094DE;
}

.toc > ul  {
  list-style: none;
}

.toc > ul > li > ul {
  list-style: none;
}
