@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Lato');

#header-wrap {
  background-color: #0094DE;
  background-image:url("/images/hero-background.svg");
  background-size: cover;
}

#top-social i{
  color:rgb(102,102,102,102);
}

a {
  color: #0094DE;
}

.email-group {
  display: block;
  float: left;
  font-weight: bold;
  font-size: 15px;
  margin: 5px 5px 5px 0;
  opacity: 0.9;
}

.email-group:hover {
  opacity: 1;
}

p {
  font-family: Lato;
    font-size: 18px;
}

h2 {
  font-family: Varela Round, sans-serif;
}

.slider-element {
  height: 600px;
  overflow: visible;
  background-color: #0094DE;
  background-image:url("/images/hero-background.svg")
}

#primary-menu ul li > a, #primary-menu ul li:hover > a, #primary-menu ul li.current > a, #primary-menu ul ul li > a {
  font-family: Comfortaa;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}

#primary-menu ul ul li > a {
  color: black;
}

@keyframes menu-icon-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

#primary-menu ul li.sfHover > a i {
  animation-name: menu-icon-animation;
  animation-duration: 1s;
  transform: rotate(90deg);
}

#content .features-bottom-box li > a {
  font-size: 16px;
  font-weight: 500;
  color: #555555;
}

.slider-title h1 {
  font-family: Comfortaa;
  font-size: 40px;
  font-weight: bold;
  color: #FFFFFF;
}

#slider a.button {
  font-family: Comfortaa;
  font-size: 16px;
  font-weight: bold;
  color: #0094DE;
  border-radius: 2px;
  background-color: #FFFFFF;
  text-shadow: none;
}

.icon-envelope2 , .middot {
  color: #FFFFFF;
  font-size: 20px;
}

.footer-widgets-wrap .middot {
  float: left;
  margin: 5px 8px 0 3px;
}

#gotoTop {
  background-color: #39b7f9;
  color: #FFF;
  box-shadow: 1px 1px 1px rgba(0,0,0,.15)
}

#gotoTop:hover {
  background-color: #30a7ff;
  color: #FFF;
  box-shadow: 1px 1px 1px rgba(0,0,0,.15)
}


.slider-title p {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: Regular;
}

.features-bottom-box {
  display: inline-block;
  padding: 5px;
  top: -50px;
  position: relative;
  width: 100%;
  background: #fff;
  box-shadow: 0 10px 40px 0 rgba(47, 47, 47, .1);
  border-radius: 3px;
  cursor: pointer
}

#features-list {
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
  justify-content: space-between !important;
}

@media screen and (max-width: 768px) {
  .features-bottom-box {
    width: 65%;
    top: 40px;
  }

  #features-list  {
    display: inline-grid;
  }
}

 #features-title {
    float:left;
    padding: 4px;
}

#features-title p {
   font-size: 14px;
   color: #6C757D;
}

 .imgContainer {
    float:left;
    padding: 4px;
}

.imgContainer p {
  font-family: Varela Round, sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: Regular;
}

.imgContainer img {
  height: 126px;
  width: 116px;
}

#graph-feature img {
    width: 130px;
}

#health-feature img {
    width: 127px;
}

.features-bottom-box h2 {
  font-family: Varela Round, sans-serif;
  color: #0093DD;
  font-size: 36px;
  font-weight: Regular;
}

.slider-element {
  height: 700px
}

.icon-line-arrow-right {
   color: #0094DE;
}

.button a {
   color: #0094DE;
}

#footer {
  border-top: 0px;
  background-color: #0093DD;
  background-image:linear-gradient(rgba(255, 255, 255, 0.52),rgba(25, 172, 225, 0.43));
}

#copyrights {
    background-color: #0093DD;
    padding: 2px;
}

#footer a {
  color: #FFFFFF;
}

/*
.dark #header-wrap:not(.not-dark) #primary-menu>ul>li>a {
  color: #fff !important
}

.dark #header-wrap:not(.not-dark) #primary-menu>ul>li>ul>li>a {
  color: #fff !important
}
*/
#primary-menu ul li>a {
  letter-spacing: 0
}

#content {
  overflow: visible
}

#description h2{
   font-family: Varela Round, sans-serif;
   color: #0094DE;
   font-weight: Regular;
   font-size: 28px;
   text-align: left;
   text-transform: capitalize;
}

#description p{
   text-align: left;
    font-size: 16px;
    color: #555555;
}

#description a.button{
  font-family: Comfortaa;
  font-size: 16px;
  font-weight: bold;
  color: #0094DE;
  border-color: #0094DE;
  border-radius: 3px;
  border: 2px solid;
  background-color: #FFFFFF;
  text-shadow: none;
}

.slider-box-wrap {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  z-index: 2
}

.heading-block p {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.7 !important
}

.slider-bottom-box {
  padding: 15px
}

#page-title h1 {
  font-family: Comfortaa, sans-serif;
  font-size: 32px;
  font-weight: Regular;
}

.img-map {
  opacity: .2
}

.swagger table {
  width: 100%;
  border-spacing: 0;
  box-sizing: border-box;
  border: 1px solid #d1d1d1;
}

.swagger table, th, td {
  border: 1px solid #d1d1d1;
}

.swagger table>thead {
  background-clip: padding-box;
  background-image: linear-gradient(to bottom, #fafafa 0, #ededed 100%);
  background-repeat: repeat-x;
  background-color: #f5f5f5;
  box-sizing: border-box;
  border: 1px solid #d1d1d1;
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 1.66666667;
  color: #363636;
}

.swagger table>thead>tr>th {
  padding: 2px 10px 3px;
}

.swagger table>tbody>tr>td {
  padding: 2px 10px 3px;
}

.swagger table>tbody {
  box-sizing: border-box;
  border-collapse: collapse;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  border: 1px solid #d1d1d1;
  border-bottom-width: 1px;
  font-size: 12px;
  line-height: 1.66666667;
  color: #363636;
  border-spacing: 0;
}

.swagger table>tbody>td.even {
  background-color: #f5f5f5;
}


code {
  color: black;
  font-style: italic;
  font-weight: bold;
}

.sectionbody ul {
  padding-left: 15px;
}

.sectionbody ul p{
  all: unset;
}

.sectionbody table>thead>tr>th {
  background: #f7f8f7
}

.sectionbody table>tbody>tr:nth-child(even) {
  background-color: #f5f5f5;
}

.toc {
  color: #0094DE;
  font-size: 16px;
}

.toc > ul  {
  list-style: none;
}

.toc > ul > li > ul {
  list-style: none;
}

div.kiali-video {
  height: 100vh;
  visibility: visible;
}

.kiali-video .mfp-title {
  text-align: center;
  padding: 0;
}

.kiali-video video {
  height: calc(100vh - 80px);
  width: 100vw;
  margin-top: 44px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.title-line {
  margin-top: 46px;
  background-color: #0094DE;
  width: 40px;
  height: 2px;
}

/* Last articles in medium */

.blog {
  margin-left: auto;
  margin-right: auto;
  width: 1120px;
}

.blog-section-last-posts-title {
  font-family: Varela Round;
  font-weight: lighter;
  color: #0094DE;
  font-size: 28px;
  text-transform: capitalize;
}
.title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  word-break: break-word;
}

.blog__container {
  position: relative;
  margin-top:20px;
  width: 100%;
  height: 100%;
}

.blog__slider {
  width: 100%;
  list-style: none;
  height: 700px;
  padding: 0;
  overflow: hidden;
  margin: 0 10px 0 10px;
  display: inline-flex; }

.blog__post {
  background-color: #fff;
  shadow: 3px,5px, 6, rgba(0,0,0,.3);
  padding: 14px;
  width: 350px;
  height: 480px;
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  margin: 0 10px 0 10px;
  justify-content: center;
}

.blog__topImg {
  width: 380px;
  height: 270px;
  display: block;
  margin: 0 auto;
  object-fit: cover; }

.blog__content {
  margin: 0;
  color: black;
  padding: .8rem; }

.blog__preview {
  height: 200px;
  font-size: .95rem;
  margin-top: 20px;
  font-weight: 300;
}

.blog__title {
  background-color:rgba(0, 148, 222, .9);
  color: #ffffff;
  margin-top: -160px;
  padding: 10px;
  height:100px;
  position: relative;
  opacity: 0.9;
  font-family:Varela round;
  font-size:20px;
}

.blog__intro {
  color: #555555;
  font-family: Lato;
  font-size: 16px;
}

.blog__info {
  font-family: Lato;
  display: inline-block;
  float: left;
}

.blog__author {
  font-size: 18px;
  color: #555555;
}

.blog__author:hover .tooltip__author {
  visibility: visible;
}

.blog__date {
  font-size: 16px;
  color: #6C757D;
}

.blog__readMore {
  font-family: Lato;
  float: right;
  margin-top: 20px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  color: #0094DE;
  border-color: #0094DE;
  border-radius: 3px;
  border: 2px solid;
  background-color: #FFFFFF;
  text-shadow: none;
}
.arrows {
  position: absolute;
  top: 50%;
  margin-top: -31px;
  color:#39B7F9;
  display: inline-flex;
}
.prev {
  left: -30px;
}
.next{
  right: -40px;
}

.arrow_disabled{
  opacity: 0.3;
}

.faq .question {
  font-weight: 400;
  /*text-transform: uppercase;*/
}

.faq .answer {
  margin-left: 2.5em;
  margin-bottom: 20px;
}

.faq .answer p {
  margin-bottom: 10px;
}

.faq .answer li > p {
  margin-bottom: 0;
}

.faq > ol > li {
  font-size: 1.8em;
}
