<footer class="padding-top-120">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="footer-left-content">
          <div class="logo-colored">
            <img src="images/Logo_color.png" alt="">lazy fox
          </div>
          <div class="content">
            <p class="margin-bottom-30 margin-top-30">Built using the latest web technologies like css3, and jQuery, rest assured Sedna look.</p>
            <p>+88456895872, +88456595572</p>
            <p>example@mail.com. lazyfox@mail.com</p>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="footer-list-wiget">
              <h4>learn more</h4>
              <div class="list-group">
                <a href="#" class="list-group-item">About Dolphin</a>
                <a href="#" class="list-group-item">Learn CSS</a>
                <a href="#" class="list-group-item">Meeting Tools</a>
                <a href="#" class="list-group-item">Pricing</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="footer-list-wiget">
              <h4>Support</h4>
              <div class="list-group">
                <a href="#" class="list-group-item">FAQ</a>
                <a href="#" class="list-group-item">Contact US</a>
                <a href="#" class="list-group-item">Outlook Plugin</a>
                <a href="#" class="list-group-item">Phone Control</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="footer-list-wiget">
              <h4>About</h4>
              <div class="list-group">
                <a href="#" class="list-group-item">About US</a>
                <a href="#" class="list-group-item">Careear</a>
                <a href="#" class="list-group-item">Privat policy</a>
                <a href="#" class="list-group-item">Treams</a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="footer-list-wiget">
              <h4>Links</h4>
              <div class="list-group">
                <a href="#" class="list-group-item">Home</a>
                <a href="#" class="list-group-item">About</a>
                <a href="#" class="list-group-item">Product</a>
                <a href="#" class="list-group-item">Intro</a>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-end-line"></div>
</footer>
<div id="scroll-top-div" class="scroll-top-div">
  <div class="scroll-top-icon-container">
    <i class="ion-ios-arrow-thin-up"></i>
  </div>
</div>
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
