{{ define "main" }}
{{ if .Parent.IsHome }}
{{ $.Scratch.Set "blog-pages" (where .Site.RegularPages "Section" .Section) }}
{{ else }}
{{$.Scratch.Set "blog-pages" .Pages }}
{{ end }}

{{- $maxBlogPosts := 10 }}
{{/*expTimestamp: expire content every 1hour (6000s)*/}}
{{- $expTimestamp := div now.Unix 6000 }}
{{- $mediumURL    := printf "https://api.rss2json.com/v1/api.json?timestamp=%d&rss_url=https://medium.com/feed/kialiproject" $expTimestamp }}
{{- $json         := getJSON $mediumURL }}
{{- $posts        := first $maxBlogPosts $json.items }}
{{- $latestPost   := index $json.items 1 }}

<div class="row">
	<div class="col-12">
			<h2>Latest blog posts</h2>
			<ul class="list-unstyled mt-4">
                {{ range $posts }}
                        {{ $link    := .link }}
                        {{ $img     := .thumbnail }}
                        {{ $title   := .title }}
                        {{ $author  := .author }}
                        {{ $dateRaw := .pubDate }}
                        {{ $date    := $dateRaw | time }}
                        {{ $summary := .content | plainify | truncate 150 }}
				<li class="media mb-4">
					<div class="media-body">
						<h5 class="mt-0 mb-1"><a href="{{ $link }}">{{ $title }}</a></h5>
						<p class="mb-2 mb-md-3"><small class="text-muted">{{ $date.Format ($.Param "time_format_blog") }}</small></p>
						<header class="article-meta">
							{{ $context := . }}
							{{ if .Site.Params.Taxonomy.taxonomyPageHeader }}
								{{ range $index, $taxo := .Site.Params.Taxonomy.taxonomyPageHeader }}
									{{ partial "taxonomy_terms_article.html" (dict "context" $context "taxo" $taxo ) }}
								{{ end }}
							{{ else }}
								{{ range $taxo, $taxo_map := .Site.Taxonomies }}
									{{ partial "taxonomy_terms_article.html" (dict "context" $context "taxo" $taxo ) }}
								{{ end }}
							{{ end }}
							{{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
								{{ partial "reading-time.html" . }}
							{{ end }}
						</header>
						{{/* partial "featured-image.html" (dict "p" . "w" 250 "h" 125 "class" "float-left mr-3 pt-1 d-none d-md-block") */}}
                                                <figure class="float-left mr-3 pt-1 d-none d-md-block" style="width: 250px">
                                                <img src="{{ $img }}" alt="Featured Image for {{ $title }}" width="250" height="125">
                                                </figure>

						<p class="pt-0 mt-0">{{ $summary }}</p>
						<p class="pt-0"><a href="{{ $link }}" aria-label="{{ T "ui_read_more"}} - {{ $title }}">{{ T "ui_read_more"}}</a></p>
					</div>
				</li>
			</ul>
                  {{ end }}
	</div>
</div>
<div class="row pl-2 pt-2">
	<div class="col">
		{{ if .Pages }}
			{{ template "_internal/pagination.html" . }}
		{{ end }}
	</div>
</div>
{{ end }}
