{{ define "content" }}
<article>
  <header>
    <nav>
      <ul>
        {{ partial "breadcrumb" . }}
      </ul>
    </nav>
    <h1>{{ .Page.Title }}</h1>
  </header>
  <main>
    {{ .Content }}

    {{ range .Data.Pages.ByWeight }}
      <h2>{{ .LinkTitle }}</h2>
      <ul>
        {{ $questions := .Resources.ByType "page" }}
        {{ $sorted_questions := sort $questions ".Params.weight" }}
        {{ $url := .RelPermalink }}
        {{ range $sorted_questions }}
          <li role="none"><a name="{{ .File.BaseFileName }}" href="#{{ .File.BaseFileName | urlize }}">{{ .Title }}</a></li>

          <p>{{ .Content }}</p>
        {{ end }}
      </ul>
    {{ end }}
  </main>
</article>
{{ end }}
