{{ partial "header.html" . }}
{{ partial "page-title.html" . }}


<!-- Content
		============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            {{ .Content }}

            <div class="faq-landing">
                {{ range .Data.Pages.ByWeight }}
                    <div>
                        <div class="panel">
                            <div class="header">
                                {{ .LinkTitle }}
                            </div>

                            <nav class="body">
                                <ul aria-label="{{ .LinkTitle }}">
                                    {{ $questions := .Resources.ByType "page" }}
                                    {{ $sorted_questions := sort $questions ".Params.weight" }}
                                    {{ $url := .Permalink }}
                                    {{ range $q := $sorted_questions }}
                                        <li role="none"><a href="{{ $url }}#{{ $q.File.BaseFileName | urlize }}">{{ $q.Title }}</a></li>
                                    {{ end }}
                                </ul>
                            </nav>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>

    </div>

</section><!-- #content end -->

{{ partial "footer.html" . }}
