{{ partial "header.html" . }}

<!-- Page Title
============================================= -->
<section id="page-title">

  <div class="container clearfix">
    <h1>Features</h1>
    <span>Some features of Kiali</span>
  </div>

</section><!-- #page-title end -->

{{ range $index, $element := .Data.Pages.ByParam "indice" }}
  {{ if modBool $index 2 }}
        <div class="section notopborder nomargin">

					<div class="container clearfix">

						<div class="col_two_fifth topmargin-sm nobottommargin" style="min-height: 100px">
							{{ partial "media.html" . .Params}}
						</div>

						<div class="col_three_fifth nobottommargin col_last">

							<div class="heading-block topmargin-sm">

                                <h2>
                                    {{ if .Params.file }}
                                        <a href="/features/{{ .Params.file }}">{{ .Title }}</a>
                                    {{ else }}
                                        {{ .Title }}
                                    {{ end }}
                                </h2>
								<span>{{ .Params.subTitle }}</span>
							</div>
							<p>{{ .Content }}</p>

						</div>

					</div>

				</div>
  {{else}}
        <div class="section notopborder nomargin">

          <div class="container clearfix">

            <div class="col_three_fifth nobottommargin">

              <div class="heading-block topmargin-sm nobottommargin">
                  <h2>
                      {{ if .Params.file }}
                         <a href="/features/{{ .Params.file }}">{{ .Title }}</a>
                      {{ else }}
                         {{ .Title }}
                      {{ end }}
                  </h2>
                <span>{{ .Params.subTitle }}</span>
              </div>

              <p>{{ .Content }}</p>

            </div>

            <div class="col_two_fifth topmargin-sm col_last" style="min-height: 100px">
              {{ partial "media.html" . .Params}}
            </div>


          </div>

        </div>
  {{end}}

{{ end }}
{{ partial "footer.html" . }}
