			<!-- Footer
			============================================= -->
			<footer id="footer">

				<div class="container">

					<!-- Footer Widgets
					============================================= -->
					<div class="footer-widgets-wrap clearfix">
						<div>

							<div class="col_half col_last">
								<a href="https://medium.com/kialiproject" class="social-icon si-medium si-borderless si-rss" target="_blank">
									<i class="icon-rss"></i>
									<i class="icon-rss"></i>
								</a>

								<a href="https://github.com/kiali" class="social-icon si-medium si-borderless si-github" target="_blank">
									<i class="icon-github"></i>
									<i class="icon-github"></i>
								</a>

								<a href="https://twitter.com/kialiproject" class="social-icon si-medium si-borderless si-twitter" target="_blank">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								<a href="https://www.youtube.com/channel/UCcm2NzDN_UCZKk2yYmOpc5w" class="social-icon si-medium si-borderless si-youtube" target="_blank">
									<i class="icon-youtube"></i>
									<i class="icon-youtube"></i>
								</a>

								<a href="https://webchat.freenode.net/?channels=%23kiali" class="social-icon si-medium si-borderless si-youtube" target="_blank">
									<i class="icon-chat"></i>
									<i class="icon-chat"></i>
								</a>


								<a href="https://groups.google.com/forum/#!forum/kiali-users" class="email-group" target="_blank">
								  <i class="icon-envelope2"></i>
								  Users group
								</a>
								<span class="middot">&middot;</span>
								<a href="https://groups.google.com/forum/#!forum/kiali-dev" class="email-group" target="_blank">
								  <i class="icon-envelope2"></i> Developers group
								</a>
							</div>

						</div>

					</div>
					<!-- .footer-widgets-wrap end -->

				</div>

				<!-- Copyrights
				============================================= -->
				<div id="copyrights">

					<div class="container clearfix">

						<div class="widget clearfix">
							<p>
								<a href="https://www.apache.org/licenses/LICENSE-2.0.txt" target="_blank">
									<strong>License:</strong>
									Kiali is open source and released under Apache License v2
								</a>.
							</p>
						</div>

					</div>

				</div>
				<!-- #copyrights end -->

			</footer>
			<!-- #footer end -->

		</div>
		<!-- #wrapper end -->

		<!-- Go To Top
		============================================= -->
		<div id="gotoTop" class="icon-angle-up"></div>

		<!-- External JavaScripts
		============================================= -->
		<script src="/js/jquery.js"></script>
		<script src="/js/plugins.js"></script>

		<!-- Footer Scripts
		============================================= -->
		<script src="/js/functions.js"></script>

	</body>

</html>
