@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');

:root {
  --kiali-dark-green-spacing: 8px;
  --kiali-blue-spacing: 24px;
  --kiali-bright-green-spacing: 80px;
  --kiali-orange-spacing: 48px;
  --kiali-pink-spacing: 16px;
  --kiali-red-spacing: 32px;
  --kiali-yellow-spacing: 128px;
}

body > header {
  /* Flexbox to position masthead layers */
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0px 2px 3px 0px rgba(1,49,68,0.15);
  padding: var(--kiali-red-spacing) var(--kiali-orange-spacing);

  z-index: 10;
}

body > header nav ul {
  list-style: none;
  
  color: #006eb3;
  font-family: 'Poppins', sans-serif;
  font-size: 22pt;
  font-weight: normal;
}

body > header nav li {
  display: list-item;
  float: left;
  margin-left: var(--kiali-red-spacing);
}

footer {
  margin: var(--kiali-orange-spacing) 0;
}

footer a {
  color: #006eb3;
}

body > section, footer {
  padding-left: var(--kiali-yellow-spacing);
  padding-right: var(--kiali-yellow-spacing);

  margin-top: var(--kiali-orange-spacing);
  margin-bottom: var(--kiali-orange-spacing);
}

body > header + section {
  margin-top: 0;
}

section > h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 22pt;
  font-weight: 500;
  color: #030303;

  margin-bottom: var(--kiali-red-spacing);
}

section#about p {
  font-family: 'Poppins', sans-serif;
  font-size: 18pt;
  font-weight: normal;
  color: #030303;
  line-height: 28pt;
}

section#hero {
  background-image: url(/img/hero.svg);
  background-position: 100% 0%;

  font-family: 'Poppins', sans-serif;
  font-size: 18pt;
  font-weight: normal;
  color: #030303;

  padding-top: var(--kiali-bright-green-spacing);
  padding-bottom: var(--kiali-bright-green-spacing);
}

section#hero h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 32pt;
  line-height: 45pt;
  font-weight: 300;
  color: #013144;

  margin: 0;
  margin-bottom: var(--kiali-blue-spacing);
}

section#hero strong {
  font-weight: 500;
}

section#hero .questions {
  line-height: 28pt;
}

section#hero p#hero-quote {
  margin-top: var(--kiali-red-spacing);
}

section#features div.features-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section#features div.features-blocks div {
  height: 210px;
  width: 290px;

  padding: var(--kiali-pink-spacing);
  background-color: #fafafa;
  border-color: #ededed;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0px rgba(245,245,245,1);

  font-family: 'Poppins', sans-serif;
  font-size: 18pt;
  line-height: 28pt;
  color: #030303;
  text-align: center;

  margin-right: var(--kiali-pink-spacing);
  margin-bottom: var(--kiali-blue-spacing);
}

section#features img {
  width: 130px;
  padding-right: var(--kiali-pink-spacing);
}

section#features p {
  margin-top: var(--kiali-pink-spacing);
  font-weight: 300;
}

section#features div h1 {
  font-size: 18pt;
}

section#features div.more-coming {
  padding: var(--kiali-red-spacing) 0;
}

section#features div.more-coming h1 {
  padding-top: var(--kiali-pink-spacing);
}

section#blog-latest {
  background-color: #fafafa;

  padding-top: var(--kiali-orange-spacing);
  padding-bottom: var(--kiali-orange-spacing);
}

section#blog-latest div#blog-blocks {
  white-space: nowrap;
  overflow: auto;
}

section#blog-latest div#blog-blocks > div {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 18pt;
  height: 144px;
  width: 322px;
  color: #030303;

  line-height: 28pt;
  background-color: #ffffff;
  border-color: #ededed;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 0px rgba(245,245,245,1);

  overflow: hidden;

  margin-right: var(--kiali-pink-spacing);
}

section#blog-latest div#blog-blocks > div > * {
  margin: var(--kiali-pink-spacing);
}

section#blog-latest div#blog-blocks > div header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom-style: solid;
  border-bottom-color: #ededed;
  border-bottom-width: 1px;
}

section#blog-latest div#blog-blocks > div header div:first-child {
  font-size: 15pt;
}

section#blog-latest div#blog-blocks > div header div:last-child {
  font-size: 14px;
  color: #006eb3;
}

section#blog-latest div#blog-blocks > div h1 {
  font-size: 18pt;
  font-weight: normal;
}

section#blog-latest div#blog-blocks > div p {
  font-size: 18pt;
  font-weight: 300;
}

p.buttons {
  margin-top: var(--kiali-blue-spacing);
}

a.button {
  color: white;
  background-color: #006eb3;
  font-size: 18pt;
  line-height: 25pt;

  padding: 8px 12px;
  border-radius: 5px;

  margin-right: var(--kiali-dark-green-spacing);
}

a.button.secondary {
  color: #006eb3;
  background-color: white;
  border-color: #006eb3;
  border-style: solid;
  border-width: 1px;
}

#footer-social-icons {
  color: #006eb3;
  font-size: 18pt;
}

#footer-social-icons a {
  display: inline-block;
  text-align: center;

  height: 32px;
  width: 32px;
  line-height: 32px;
  background-color: #d7f7ff;
  border-radius: 50%;

  margin-right: var(--kiali-dark-green-spacing);
}

#footer-mail-lists {
  color: #006eb3;
  font-family: 'Poppins', sans-serif;
  font-size: 14pt;
  font-weight: normal;

  margin: var(--kiali-pink-spacing) 0 var(--kiali-red-spacing) 0;
}

#footer-mail-lists a {
  padding-right: var(--kiali-blue-spacing);
}

#footer-copyrights {
  font-family: 'Poppins', sans-serif;
  font-size: 12pt;
  font-weight: normal;
}

#footer-copyrights a {
  color: #030303;
}
