@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap');

:root {
  --kiali-dark-green-spacing: 8px;
  --kiali-blue-spacing: 24px;
  --kiali-bright-green-spacing: 80px;
  --kiali-orange-spacing: 48px;
  --kiali-pink-spacing: 16px;
  --kiali-red-spacing: 32px;
  --kiali-yellow-spacing: 128px;

  --kiali-font-family: 'Poppins', sans-serif;
  --kiali-font-size: 18pt;
  --kiali-font-color: #030303;
  --kiali-font-color-secondary: #006eb3;

  --kiali-secondary-bg-color: #fafafa;
  --kiali-card-border-color: #ededed;
}

/* Set top level styles */
body {
  font-family: var(--kiali-font-family);
  font-size: var(--kiali-font-size);
  font-weight: normal;
  color: var(--kiali-font-color);

}

body p {
  line-height: 1.56;
}

a, a:hover {
  color: var(--kiali-font-color-secondary);
}

/* Styles for top-level sections */
main > section, main > article, footer {
  padding-left: var(--kiali-yellow-spacing);
  padding-right: var(--kiali-yellow-spacing);

  margin-top: var(--kiali-orange-spacing);
  margin-bottom: var(--kiali-orange-spacing);
}

main > :first-child {
  margin-top: 0;
}

main > h1 {
  background-color: var(--kiali-secondary-bg-color);
  padding: 1.5em calc(var(--kiali-yellow-spacing)/2);

  border-bottom: 1px solid var(--kiali-card-border-color);
}

section > h1 {
  font-size: 22pt;
  font-weight: 500;

  margin-bottom: var(--kiali-red-spacing);
}

/* Headers of the content */
main article h1,
main article h2,
main article h3,
main article h4,
main article h5,
main article h6 {
  color: var(--kiali-font-color-secondary);
  margin-top: 1.5em;
}

main article h2 {
  border-bottom: 1px solid var(--kiali-card-border-color);

  padding-bottom: 0.5em;
  margin-bottom: var(--kiali-red-spacing);
  margin-left: -1em;
}

/* Styles for custom/specific objects */
p.buttons {
  margin-top: var(--kiali-blue-spacing);
}

a.button {
  color: white;
  background-color: var(--kiali-font-color-secondary);
  line-height: 25pt;

  padding: 8px 12px;
  border-radius: 5px;

  margin-right: var(--kiali-dark-green-spacing);
}

a.button.secondary {
  color: var(--kiali-font-color-secondary);
  background-color: white;
  border-color: var(--kiali-font-color-secondary);
  border-style: solid;
  border-width: 1px;
}

/* Masthead */
body > header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 111px;

  box-shadow: 0px 2px 3px 0px rgba(1,49,68,0.15);
  padding: var(--kiali-red-spacing) var(--kiali-orange-spacing);
}

body > header img {
  height: 48px;
}

/* Masthead::Navigation top level and childs */
body > header nav ul {
  position: relative;

  list-style: none;
  font-size: 22pt;
}

body > header nav li {
  display: list-item;
  float: left;
  margin-left: var(--kiali-red-spacing);
}

body > header nav li:hover,
body > header nav li:focus-within {
  text-decoration: underline;
}

/* Masthead::Navigation level > 1 */
body > header nav li ul {
  visibility: hidden;
  position: absolute;
  right: 0;

  padding: 0;
  margin-top: 1em;
  background-color: rgba(255, 255, 255, 0.8);

  border: 1px solid black;

  opacity: 0;
  transition: visibility 700ms, opacity 300ms linear 200ms;
}

body > header nav li:hover > ul,
body > header nav li:focus-within > ul,
body > header nav li:focus > ul {
  visibility: visible;
  opacity: 1;
}

body > header nav li li {
  float: none;
  position: relative;

  margin: 0;
  padding: 0.3em 0.7em;

  transition: padding 500ms, background-color 500ms;
}


body > header nav li li:hover,
body > header nav li li:focus-within,
body > header nav li li:focus {
  background-color: Gainsboro;
  padding-left: 1em;
  padding-right: 0.4em;
}

/* Masthead::Navigation level > 2*/
body > header nav ul ul ul {
  right: calc(100% + 1em) !important;
  top: 0;
  padding-top: 0;
  margin-top: 0;
}

/* Mastfoot */
body > footer {
  margin: var(--kiali-orange-spacing) 0;
}

#footer-social-icons a {
  display: inline-block;
  text-align: center;
  text-decoration: none;

  height: 32px;
  width: 32px;
  line-height: 32px;
  background-color: #d7f7ff;
  border-radius: 50%;

  margin-right: var(--kiali-dark-green-spacing);
}

#footer-mail-lists {
  font-size: 14pt;
  margin: var(--kiali-pink-spacing) 0 var(--kiali-red-spacing) 0;
}

#footer-mail-lists a {
  padding-right: var(--kiali-blue-spacing);
}

#footer-copyrights, #footer-copyrights a {
  font-size: 12pt;
  color: var(--kiali-font-color);
}

