{{ partial "header.html" . }}
<section id="introduction" class="gradient-violat padding-top-90 home-slider">
    <div>
      <div class="sliding-card-with-bottom-image text-center padding-top-90">
        <h2 class="cta-heading text-white">Kiali</h2>
        <p class="text-white slider-para">Service Mesh Observability</p>
        <div class="cta-btn-group">
          <a class="btn btn-orange border-none btn-rounded-corner" href="#">Try it yourself <span class="icon-on-button"><i class="ion-person"></i></span></a>
          <a class="btn-video text-white" href="#"><span class="icon-rounded bordered-ios"><i class="ion-play"></i></span>Watch intro video</a>
        </div>
        <div class="image-container text-center sm-display-none">
          <img class="img-responsive" src="images/mockuo2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
{{ partial "footer.html" . }}
