{{ partial "header.html" . }}

<section id="slider" class="slider-element bg-angle">

  <img class="img-map parallax" src="images/map.png" alt="" data-0="opacity: 0.05;margin-top:0px" data-800="opacity: 0.5;margin-top:150px">

  <div class="vertical-middle ignore-header dark">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-5">
          <div class="slider-title">
            <h1 class="text-rotater mb-3" data-separator="," data-rotate="fadeIn" data-speed="3500">Service mesh observability</h1>
            <p><i>Kiali</i> is originated from the greek word κιάλι meaning <i>monocular</i> or <i>spyglass</i>.</p>
            <p>Kiali project provides answers to the questions:<br>What microservices are part of my Istio service mesh and how are they connected?</p>
          </div>
          <a href="/gettingstarted" class="button">Get started <i class="icon-line-arrow-right t600"></i></a>
        </div>
        <div class="col-md-5 d-md-block">
          <img src="/images/features/graph-overview.png" height="280px" width="530px">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="content">
  <div class="content-wrap nopadding">
    <div class="container clearfix">
      <div class="row justify-content-center slider-box-wrap clearfix">
        <div class="col-10">
          <div class="features-bottom-box" onclick="location.href='/features/'">
            <div class="row align-items-center clearfix">
              <div class="col-lg-4 mb-3 mb-lg-0">
                <h2 class="mb-3 h1 t300">Features</h2>
                <p class="t400 text-muted mb-0">A growing set of features</p>
              </div>
              <div class="col-lg-4 col-sm-6">
                <ul class="iconlist m-0">
                  <li class="pt-3 pt-lg-0"><img src="images/checked.svg" width="20" height="20" alt="" class="mr-2">Service graph representation</li>
                  <li class="pt-3"><img src="images/checked.svg" width="20" height="20" alt="" class="mr-2">Distributed tracing</li>
                  <li class="pt-3"><img src="images/checked.svg" width="20" height="20" alt="" class="mr-2">Metrics collection and graphs</li>
                </ul>
              </div>
              <div class="col-lg-4 col-sm-6">
                <ul class="iconlist m-0">
                  <li class="pt-3 pt-lg-0"><img src="images/checked.svg" width="20" height="20" alt="" class="mr-2">Configuration validation</li>
                  <li class="pt-3"><img src="images/checked.svg" width="20" height="20" alt="" class="mr-2">Health computation/display</li>
                  <li class="pt-3"><img src="images/checked.svg" width="20" height="20" alt="" class="mr-2">Service discovery</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="section nomargin noborder" style="padding: 80px 0;">
        <div class="container center clearfix">
            <div class="container clearfix">
              <div id="description" class="col_half nobottommargin">
                <div class="heading-block topmargin-sm nobottommargin">
                  <h2>{{ .Title }}</h2>
                  <span>{{ .Params.subTitle }}</span>
                </div>
                <p>A Microservice Architecture breaks up the monolith into many smaller pieces that are composed together. Patterns to secure the communication between services like fault tolerance (via timeout, retry, circuit breaking, etc.) have come up
                  as well as distributed tracing to be able to see where calls are going. A service mesh can now provide these services on a platform level and frees the application writers from those tasks. Routing decisions are done at the mesh level.
                  Kiali works with Istio to visualise the service mesh topology, features like circuit breakers or request rates. Kiali also includes Jaeger Tracing to provide distributed tracing out of the box.</p>
                <a href="/gettingstarted" class="button">Get started <i class="icon-line-arrow-right t600"></i></a>
              </div>
              <div class="col_half topmargin-sm col_last" style="vertical-align: center">
                <div style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
                  <iframe src="//www.youtube.com/embed/8HZlDGURzLc" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;" allowfullscreen title="Kiali Overview"></iframe>
                </div>
              </div>
            </div>
        </div>
      </div>

  </div>
</section>
<!-- #content end -->

{{ partial "footer.html" . }}
