+++
title = "API"
date = "2017-12-29T12:15:02-00:00"
type = "api"
+++
<style>
    .menu-content {
        top: 60px !important;
        height: calc(100vh - 60px);
    }
</style>

{{{redocHead}}}
<div id="swaggerdoc">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet">
    {{{redocHTML}}}
</div>
