<section id="content">
    <div class="content-wrap nopadding">
        <div class="container clearfix">
            <div class="features-bottom-box">
                <div id="features-list">
                    <div id="features-title">
                        <h2>Features</h2>
                        <p>A growing set of features</p>
                    </div>
                    <div id="graph-feature" class="imgContainer" onclick="location.href='/documentation/features/#_graph'">
                        <img src="images/documentation/features/graph.svg" />
                        <p>Topology</p>
                    </div>
                    <div
                            id="health-feature"
                            class="imgContainer"
                            onclick="location.href='/documentation/features/#_graph_health'"
                    >
                        <img src="images/documentation/features/services.svg" />
                        <p>Health <br />computation</p>
                    </div>
                    <div class="imgContainer" onclick="location.href='/documentation/features/#_detail_metrics'">
                        <img src="images/documentation/features/metrics.svg" />
                        <p>Metrics</p>
                    </div>
                    <div class="imgContainer" onclick="location.href='/documentation/features/#_istio_configuration'">
                        <img src="images/documentation/features/info.svg" />
                        <p>Configuration <br />validation</p>
                    </div>
                    <div class="imgContainer" onclick="location.href='/documentation/features/#_distributed_tracing'">
                        <img src="images/documentation/features/tracing.svg" />
                        <p>Distributed <br />tracing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>