+++
title = "Kiali"
linkTitle = "Kiali"
+++

<!-- Some style overrides to improve the look and spacing of the Docsy Feature shortcode" -->
<style>
      .mb-4 {
        margin-bottom: 0.5rem !important;
      }
      .mb-5 {
        margin-bottom: 2.0rem !important;
      }
</style>

{{< blocks/cover title="The Console for Istio Service Mesh" image_anchor="top" height="min">}}
<div class="mx-auto">
    <a href="/docs/installation/quick-start" class="btn btn-lg btn-primary mr-3 mb-4">
      Get started with Kiali
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="#td-block-3">
      See latest blog posts and videos
    </a>
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Manage, visualize, validate and troubleshoot your mesh!

Kiali is a management console for Istio service mesh.  Kiali can be quickly installed as an Istio add-on, or trusted as a part of your production environment.  See below for more about what Kiali offers, or just     <a href="/docs/installation/quick-start">Get Started!</a>
{{% /blocks/lead %}}

{{< blocks/section height="min" color="dark">}}
  {{% blocks/feature icon="fa-project-diagram" title="Topology" url="docs/features/topology" %}}
  See your services communicate
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-heartbeat" title="Health" url="docs/features/health" %}}
  Quickly identify issues
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-chart-line" title="Details" url="docs/features/details" %}}
  Examine details, logs and metrics
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-route" title="Tracing" url="docs/features/tracing" %}}
  Follow requests with Jaeger Distributed Tracing
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-tasks" title="Validations" url="docs/features/validations" %}}
  Detect advanced misconfigurations
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-hat-wizard" title="Wizards" url="docs/features/wizards" %}}
  Easily configure Istio routing
  {{% /blocks/feature %}}

  {{% blocks/feature icon="fa-cogs" title="Configuration" url="docs/features/configuration"  %}}
  See and edit Istio custom resource YAML
  {{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section >}}
  {{< blog >}}
{{< /blocks/section >}}

{{< blocks/section >}}
  {{< videos >}}
{{< /blocks/section >}}


