{{- $maxBlogPosts := 3 }}
{{/*expTimestamp: expire content every 1hour (6000s)*/}}
{{- $expTimestamp := div now.Unix 6000 }}
{{- $mediumURL    := printf "https://api.rss2json.com/v1/api.json?timestamp=%d&rss_url=https://medium.com/feed/kialiproject" $expTimestamp }}
{{- $json         := getJSON $mediumURL }}
{{- $posts        := first $maxBlogPosts $json.items }}
{{- $latestPost   := index $json.items 1 }}

<h3 class="blog-header">
  Latest
  <a href="https://medium.com/kialiproject" target="_blank">
    blog posts on Medium
  </a>
</h3>

{{ range $posts }}
  {{ $link    := .link }}
  {{ $img     := .thumbnail }}
  {{ $title   := .title }}
  {{ $author  := .author }}
  {{ $dateRaw := .pubDate }}
  {{ $date    := dateFormat "January 2, 2006" $dateRaw }}
  {{ $summary := .content | plainify | truncate 200 }}
  <div class="col-lg-4 mb-5 mb-lg-0 text-center ">
    <div class="blog-card">
      <figure>
        <img src="{{ $img }}" alt="Thumbnail for {{ $title }}" width="250" height="125">
      </figure>
      <div class="blog-card-body">
        <div class="blog-card-date">Posted {{ $date }}</div>
        <div class="blog-card-title">{{ $title }}</div>
        <div class="blog-card-author">{{ $author }}</div>
        <div class="blog-card-summary">{{ $summary }}</div>
        <p class="pt-0"><a href="{{ $link }}" aria-label="{{ T "ui_read_more"}} - {{ $title }}" target="_blank">{{ T "ui_read_more"}} …</a></p>
      </div>
    </div>
  </div>
{{ end }}

