{{- $maxBlogPosts := 3 }}
{{- $mediumURL    := "https://www.toptal.com/developers/feed2json/convert?url=https://medium.com/feed/kialiproject" }}
{{- $json         := getJSON $mediumURL }}
{{- $posts        := first $maxBlogPosts $json.items }}
{{- $latestPost   := index $json.items 1 }}

<h3 class="blog-header">
  Latest
  <a href="https://medium.com/kialiproject" target="_blank">
    blog posts on Medium
  </a>
</h3>

{{ range $posts }}
  {{ $link    := .url }}
  {{ $title   := .title }}
  {{ $author  := .author.name }}
  {{ $dateRaw := .date_published }}
  {{ $date    := dateFormat "January 2, 2006" $dateRaw }}
  {{ $summary := .content_html | plainify | truncate 200 }}
  <div class="col-lg-4 mb-5 mb-lg-0 text-center ">
    <div class="blog-card">
      <figure>
        <img src="/featured-background.png" alt="{{ $title }}" />
      </figure>
      <div class="blog-card-body">
        <div class="blog-card-date">Posted {{ $date }}</div>
        <div class="blog-card-title">{{ $title }}</div>
        <div class="blog-card-author">{{ $author }}</div>
        <div class="blog-card-summary">{{ $summary }}</div>
        <p class="pt-0"><a href="{{ $link }}" aria-label="{{ T "ui_read_more"}} - {{ $title }}" target="_blank">{{ T "ui_read_more"}} …</a></p>
      </div>
    </div>
  </div>
{{ end }}

