<footer id="footer">
  <!-- Netlify badge. Don't remove while the website is hosted by Netlify on the Open source plan.
    See https://www.netlify.com/legal/open-source-policy/ -->
  <section id="footer-netlify">
    <a href="https://www.netlify.com">
      <img src="https://www.netlify.com/img/global/badges/netlify-dark.svg"/>
    </a>
  </section>

  <!-- Social icons -->
  <section id="footer-social-icons">
    <a href="https://github.com/kiali" title="Kiali project on Github" target="_blank"
      class="fab fa-github">
    </a>
    &nbsp;
    <a href="https://istio.slack.com/archives/CJVRXB09F"  title="Kiali channel on Istio Slack" target="_blank"
      class="fab fa-slack">
    </a>
    &nbsp;
    <a href="https://twitter.com/kialiproject" title="Kiali on Twitter" target="_blank"
      class="fab fa-twitter">
    </a>
    &nbsp;
    <a href="https://medium.com/kialiproject" title="Kiali blog on Medium" target="_blank"
      class="fab fa-medium-m">
    </a>
    &nbsp;
    <a href="https://www.youtube.com/channel/UCcm2NzDN_UCZKk2yYmOpc5w" title="Kiali channel on YouTube" target="_blank"
      class="fab fa-youtube">
    </a>
    &nbsp;
    <a href="https://web.libera.chat?channels=#kiali"  title="Kiali on IRC" target="_blank"
      class="fas fa-comment">
    </a>
    &nbsp;
    <a href="https://bit.ly/kiali-calendar"  title="Kiali Calendar" target="_blank"
      class="fas fa-calendar">
    </a>
  </section>

  <!-- Copyrights -->
  <section id="footer-copyrights">
    <br/>
    <p>
      <a href="https://www.apache.org/licenses/LICENSE-2.0.txt" target="_blank">
        License: Kiali is open source and released under Apache License v2
      </a>
        &nbsp; | &nbsp;
      <a href="https://www.redhat.com/en/about/privacy-policy" target="_blank">
        Privacy Statement
      </a>
    </p>
  </section>
</footer>
