<footer id="footer">
  <!-- Netlify badge. Don't remove while the website is hosted by Netlify on the Open source plan.
    See https://www.netlify.com/legal/open-source-policy/ -->
  <section id="footer-netlify">
    <a href="https://www.netlify.com">
      <img src="https://www.netlify.com/img/global/badges/netlify-dark.svg"/>
    </a>
  </section>

  <!-- Social icons -->
  <section id="footer-social-icons">
    <a href="https://medium.com/kialiproject" target="_blank"
      class="fab fa-medium-m">
    </a><a href="https://github.com/kiali" target="_blank"
      class="fab fa-github">
    </a><a href="https://twitter.com/kialiproject" target="_blank"
      class="fab fa-twitter">
    </a><a href="https://www.youtube.com/channel/UCcm2NzDN_UCZKk2yYmOpc5w" target="_blank"
      class="fab fa-youtube">
    </a><a href="https://webchat.freenode.net/?channels=%23kiali" target="_blank"
      class="fas fa-comment">
    </a>
  </section>

  <!-- Mail lists -->
  <section id="footer-mail-lists">
      <a href="https://groups.google.com/forum/#!forum/kiali-users" target="_blank">
        Users group
      </a>
      <a href="https://groups.google.com/forum/#!forum/kiali-dev" target="_blank">
        Developers group
      </a>
  </section>

  <!-- Copyrights -->
  <section id="footer-copyrights">
    <p>
      <a href="https://www.apache.org/licenses/LICENSE-2.0.txt" target="_blank">
        License: Kiali is open source and released under Apache License v2
      </a>
        &nbsp; | &nbsp;
      <a href="https://www.redhat.com/en/about/privacy-policy" target="_blank">
        Privacy Statement
      </a>
    </p>
  </section>
</footer>
